<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="../Static/Styles/dashboard.css">
    </head>
    <body>
        <form action = "/dash" method = "post">
            <div>
                <div id="topMenu">
                    <div class="content">
                        <ul>
                            <li class="leftBtn">
                                <a><input class="topBtns AccountBtn" name="dashBtn" type="submit" value="account"/></a>
                            </li>
                            <li class="">
                                <a><input class="topBtns AccountBtn" name="dashBtn" type="submit" value="Contact"/></a>
                            </li>
                            <li class="">
                                <a><input class="topBtns AccountBtn" name="dashBtn" type="submit" value="Profile"/></a>
                            </li>
                        </ul>
                    </div>
                    <b class="styo"></b>
                </div>
                <div id="sideMenu">
                    <b class="top-side"></b>
                </div>
                <div id="content">

                </div>
            </div>
        </form>
    </body>
</html>